/* Light/dark mode indicator */

.titleBar-1it3bQ::after {
    position: absolute;
    top: -4px;
    right: 84px;
    height: 18px;
    padding: 4px;
    line-height: 23px;
    font-size: 14px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}

.theme-dark .titleBar-1it3bQ::after {
    content: "Dark mode";
    background: rgb(32, 34, 37);
    color: rgb(163, 166, 170);
}

.theme-light .titleBar-1it3bQ::after {
    content: "Light mode";
    background: rgb(227, 229, 232);
    color: rgb(102, 102, 102);
}